<div class="row col-xs-10 col-xs-offset-1 panel-group" id="#collapseOne">
    <h3 style="color: #fff;">毕业总分：{{毕业总分}}</h3>
    <h3 style="color: #fff;">毕业等级：{{毕业等级}}</h3> {{#each results}}
    <!--{{#if detail}}-->
    <div class="panel panel-default" style="margin-top:50px">
        <div class="panel-heading">
            <h4 class="panel-title text-center">
                        {{a-link-id}}{{grade}}</a>
                        </h4>
        </div>
        {{div-id}}
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-6">项目名称</th>
                        <th>结果</th>
                        <th>分数</th>
                        <th>等级</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each detail}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{result}}</td>
                        <td>{{score}}</td>
                        <td>{{grade}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="col-xs-offset-8">学年总分:<span class="text-danger col-xs-offset-2">{{学年总分}}</span>
            </div>
            <div class="col-xs-offset-8">等级评定:<span class="text-danger col-xs-offset-2">{{等级评定}}</span>
            </div>
        </div>
    </div>

</div>
<!--{{/if}}-->
{{/each}}
</div>
