<!--{{this}}-->
{{#offcanvas this}}
<div>
    <ul class="accordion" data-accordion>
        {{#each detail}}
        <li class="accordion-navigation">
            <a class="text-center" href="#index{{@index}}" style="background:rgba(255, 255, 255, 0.4);">{{grade}}</a>
            <div id="index{{@index}}" {{#if @index}} class="content" {{else}} class="content active" {{/if}} style="padding:0;">
                <table class="small-12 columns" border="1">
                    <thead>
                        <tr>
                            <td style="width:30%;">项目名称</td>
                            <td>结果</td>
                            <td>分数</td>
                            <td>等级</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each info}}
                        <tr>
                            <td>{{name}}</td>
                            <td style="color:green;">{{result}}</td>
                            <td style="color:brown;">{{score}}</td>
                            <td>{{grade}}</td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>学年总分：</td>
                            <td style="color:brown;">{{学年总分}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>等级评定：</td>
                            <td style="color:brown;">{{等级评定}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
{{/offcanvas}}
