<!--{{this}}-->
{{#offcanvas this}}

<div class="raw">
    <div class="small">
        <button class="button secondary" style="width:150px;height:150px;border-radius:75px;border:solid 8px #fff;background:rgba(255,255,255,.4);position:relative;left:50%;margin-left:-75px;margin-top:20px;">
            <div style="font-size:14px;">平均绩点：</div>
            <div class="text-center" style="color:brown;width:100%;margin-top:10px;font-size:25px;">{{detail.gpa}}</div>
        </button>
    </div>
    <ul class="accordion" data-accordion>
        {{#each detail.info}}
        <li class="accordion-navigation">
            <a class="text-center" href="#index{{@index}}" style="background:rgba(255, 255, 255, 0.4);">{{schoolYear}}学年 第{{term}}学期</a>
            <div id="index{{@index}}" {{#if @index}} class="content" {{else}} class="content active" {{/if}} style="padding:0;">
                <table class="small-12 columns" border="1">
                    <tbody>
                        {{#each courses}}
                        <tr>
                            <td colspan="5" class="text-center" style="color:brown;font-size:15px;">{{课程名称}}</td>
                        </tr>
                        <tr>
                            <td>课程代码</td>
                            <td>学分</td>
                            <td>绩点</td>
                            <td>成绩</td>
                        </tr>
                        <tr>
                            <td>{{课程代码}}</td>
                            <td>{{学分}}</td>
                            <td>{{绩点}}</td>
                            <td>{{成绩}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
{{/offcanvas}}
